html, body {
	height: 100%;
}

body {
	overflow: hidden;
	background-color: #1A1A1A;
}

body, #own, #enemy, #center, #arena, #chat, #main, #content, #input, #say, #chatButton {
	margin: 0;
	box-sizing: border-box;
}
#logo {
	width: 44%;
	margin: 1% 28% 0 28%;
}

#own {
	width: 25%;
	height: 92%;
	margin-top: -1%;
	padding-right: 30px;
	float: left;
	background: antiquewhite;
	border: 2px solid black;
	border-top-right-radius: 6% 4%;
	text-align: right;
}

#enemy {
	width: 25%;
	height: 92%;
	margin-top: -1%;
	padding-left: 30px;
	float: left;
	background: antiquewhite;
	border: 2px solid black;
	border-top-left-radius: 6% 4%;
	text-align: left;
}

#center {
	width: 50%;
	height: 85%;
	margin-top: 2%;
	float: left;
	background: antiquewhite;
	border-top: 2px solid black;
}

#main {
	width: 100%;
	height: 64%;
}

.currentTurn {
	border: 2px solid gold;
}

.team .currentTurn {
	border: none;
	background-color: lightblue;
}

.hoverGlad {
	background-color: #E9BCBC;
}

.arenaGlad {
	font-weight: bold;
	display: inline-block;
}

.arenaHP {
	color: green;
}

.arenaMana {
	color: blue;
}

#chat {
	width: 100%;
	height: 36%;
	border-bottom: 2px solid black;
	background: antiquewhite;
}

#arena {
	width: 480px;
	height: 360px;
	margin: 20px auto;
	border: 2px solid black;
	background-image: url(../maps/bridges.png);
	background-size: 480px 360px;
}

#arena table {
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

#arena tr {
	margin: 0;
	padding: 0;
	height: 40px;
}

#arena td {
	margin: 0;
	padding: 0;
	width: 40px;
	text-align: center;
	color: white;
}

#content {
	width: 74%;
	margin-left: 13%;
	height: 75%;
	background: FloralWhite;
	overflow-y: scroll;
	border: 2px solid black;
	border-bottom: none;
}

#input {
	border: 2px solid black;
	border-top: none;
	width: 74%;
	margin-left: 13%;
	height: 11%;
	background: black;
}
#say {
	width: 93%;
	height: 100%;
	background: FloralWhite;
}

#chatButton {
	width: 7%;
	height: 100%;
	margin-left: -1%;
	background-color: #B89470;
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	cursor: pointer;
}

#chatButton:hover {
	background-color: #CCB299;
}