html, body {
    height: 100%;
}
body, nav, main, .own, .enemy, #teamInfo, #center, header, .team, .enemyTeam, #ownTeamList, #gladiators, .gladiator, #gladInfo {
	margin: 0;
	box-sizing: border-box;
}

p {
	font-family: sans-serif;
	font-weight: bold;
}

.own, #teamInfo {
	border: 3px solid black;
}

body {
	overflow: hidden;
	background-color: #1A1A1A;
}

.own {
	width: 15%;
	height: 90%;
	margin-top: -3%;
	float: left;
	border-top-right-radius: 8% 2%;
	background-color: antiquewhite;
	padding: 0.5% 0.5% 1% 0.5%;
}

.enemy {
	width: 15%;
    height: 95%;
	margin-top: -6%;
	float: left;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	background-color: antiquewhite;
	padding: 0.5% 0.5% 1% 0.5%;
	border-top-left-radius: 5% 2%;
}

#logo {
	position: fixed;
	top: 3%;
	width: 50%;
}

#links {
	float: right;
	margin: 1%;
	font-size: 90%;
	height: 10%;
	padding-top: -5%;
}

#links a {
	margin-top: 5%;
	text-decoration: none;
}

.headerLink {
	display: block;
	margin-bottom: 15px;
	background-color: transparent;
	color: antiquewhite;
}

.headerLink:hover {
	color: #C3AF9B;
	cursor: pointer;
}

#tabs {
    display: inline-block;
    width: 47%;
    box-sizing: border-box;
    float: left;
	background-color: antiquewhite;
}

#tabs a {
	background: #E6D8C6;
}

#tabs .ui-tabs-active a {
	background-color: antiquewhite;
}

#tabs-2, #tabs-3 {
	background:antiquewhite;
}

#tabs-1, #tabs-4 {
	background: #333333;
}

#tabs2, #tabs3 {
	background: none;
	border-width: 0;
}

#tabs2 .ui-tabs-nav, #tabs3 .ui-tabs-nav {
	background: transparent;
	border-width: 0 0 2px 0;
}

#tabs2 .ui-tabs-panel, #tabs3 .ui-tabs-panel {
	border-width: 0 2px 2px 2px;
}

#tabs2 a {
	background: #91D1DA;
	border: 1px solid black;
}

#tabs3 a {
	background: #DFA0A0;
	border: 1px solid black;
}

#tabs2 .ui-tabs-active a {
	background: #B2DFE6;
}

#tabs3 .ui-tabs-active a {
	background: #E9BCBC;
}

#tabs-21, #tabs-22, #tabs-23, #tabs-24, #tabs-25, #tabs-31, #tabs-32, #tabs-33, #tabs-34 {
	background: #333333;
	padding: 6px;

}

.ui-tabs,a, li {
	background: #e1d3c1;
}

.ui-tabs .ui-tabs-nav {
	background: #c8bcac;
}

.ui-tabs-active a  {
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	border: 1px solid black;
	background: antiquewhite;
}

.ui-dialog .ui-dialog-titlebar {
	background: #c8bcac;
	text-align: center;
}

#kuvalogo {
	width: 23%;
	position: relative;
	margin-left: 56%;
    z-index: -1;
}

#tabhdr, #teamName {
	font-size: 150%;
	margin-top: 0;
	margin-bottom: 3px;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

#loginButton, #signupButton, #newTeamButton, #createTeamButton, .recBut {
	width: 70%;
	margin: 0 15%;
	background-color: #808080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

#newTeamButton {
	width: 85%;
	margin: 0 7.5%;
}

.recBut {
	width: 15%;
	margin: 0 10px 5px 10px;
}

form {
	padding: 0 20%;
}

#loginButton:hover, #signupButton:hover, #newTeamButton:hover, #createTeamButton:hover, .recBut:hover {
    background: #D8F1AC;
    box-shadow: 0 0 1px #777;
	color: black;
}

#loginError {
	color: red;
}

.button {
	width: 70%;
	height: 10%;
	margin: 3% 15%;
	-webkit-box-shadow: 0 0 8px rgba(0, 0.5, 0, 1);
	-moz-box-shadow: 0 0 8px rgba(0, 0.5, 0, 1);
	box-shadow: 0 0 8px rgba(0, 0.5, 0, 1);
	border: 2px solid black;
	background-image: url(../images/button.png);
	text-align: center;
	background-size: 100% 100%;
	border-radius: 8px;
	cursor: pointer;
}

.button:hover {
	background-image: url(../images/button2.png);
}

input:focus {
	border: 2px solid red;
}

#container, #ui-id-8, #ui-id-2, #ui-id-4, #ui-id-6 {
	background-color: antiquewhite;
}

#skins {
	width: 15%;
}

#ownTeamList, #enemyTeamList {
	width: 98%;
	height: 78%;
	border: 2px solid black;
	background: #333333;
	border-radius: 8px;
	padding: 3px 2px;
	overflow-y: auto;
}

.team, .enemyTeam {
	width: 96%;
	border: 2px solid black;
	background: FloralWhite;
	border-radius: 5px;
	margin: 5px 2%;
	cursor: pointer;
}

.team:hover, .enemyTeam:hover, .gladiator:hover {
	cursor: pointer;
}

.online {
	color: green;
}

.busy {
	color: darkorange;
}

#enemyTeamList {
	height: 82%;
	width: 96%;
}

.enemyTeam {
	width: 94%;
}

#gladiators {
	width: 99%;
	height: 40%;
	border: 2px solid black;
	background: #333333;
	border-radius: 8px;
	padding: 3px;
	overflow-y: scroll;
}

#teamInfo {
	width: 23%;
	height: 90%;
	margin-top: -3%;
	float: left;
	border-top-left-radius: 5% 2%;
	padding: 0.5% 0.5% 1% 0.5%;
	background-color: antiquewhite;
}

.gladiatorRow {
	height: 31%;
	margin: 0;
}

.gladiator {
	border: 2px solid black;
	background: FloralWhite;
	border-radius: 5px;
	margin: 1px 1px;
}

.selectedOwn {
	background-color: mediumspringgreen;
}

.selectedOther, .selectedGladiator {
	background-color: khaki;
}

.stat, .ownTeamStat {
	display: inline-block;
	margin: 3px;
}

#teamStats img {
	width: 10%;
}

#teamStats p {
	margin-bottom: 5px;
}

#gladInfo, #recInfo {
	width: 99%;
	height: 36%;
	border: 2px solid black;
	background: #333333;
	border-radius: 8px;
	padding: 3px;
	margin-top: 3px;
	overflow-y: scroll;
}

#recInfo {
	background: FloralWhite;
}

#gladStat1, .infoGladStat1 {
	background: FloralWhite;
	border: 1px solid black;
	width: 98.5%;
	border-radius: 5px;
}

#gladStat2, .infoGladStat2, .infoGladStat3 {
	background: #DFA0A0;
	border: 1px solid black;
	width: 98.5%;
	border-radius: 5px;
	margin-top: 2px;
}

.infoGladStat3 {
	background: #AEDD94;
}

.gear {
	background: #91D1DA;
	border: 1px solid black;
	width: 98.5%;
	border-radius: 5px;
	margin-top: 2px;
	text-align: center;
}

.spell {
	background: #AEDD94;
	border: 1px solid black;
	width: 98.5%;
	border-radius: 5px;
	margin-top: 2px;
	text-align: center;
}
.firstStats, .infoFirstStats {
	display: inline-block;
	margin: 1px;
}

#gladStat1 img, .infoGladStat1 img {
	width: 7%;
}

#gladName, .infoGladName {
	font-size: 100%;
}

#block1, #block2 {
	display: inline-block;
	width: 44%;
	padding: 5px 0 5px 12px;
}

#block1 p, #block2 p, .gear p, .spell p, .infoGladStat3 p, #text p, #number p {
	margin: 0;
	padding: 3px;
	font-size: 100%;
}

.team .ownTeamName, .enemyTeam .enemyTeamName {
	text-align: center;
	margin: 0;
	padding: 3px;
	font-size: 100%;
}

.gear p, .spell p {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.tabContainer {
	width: 98%;
	border: 2px solid black;
	background: FloralWhite;
	border-radius: 8px;
	padding: 5px;
}

#tabContainerSchool {
	width: 98%;
	border: 2px solid black;
	background: antiquewhite;
	border-radius: 8px;
	padding: 5px;
}

#recruitable {
	width: 97%;
	height: 25%;
	margin-left: 8px;
	overflow-y: scroll;
}

.recGlad {
	width: 19%;
	display: inline-block;
}

.recGlad div {
	width: 90%;
	height: 100px;
	border: 3px solid black;
	border-radius: 8px;
	background: FloralWhite;

}

.recBut {
	display: inline-block;
	width: 80%;
}

#infoBlock {
	display: inline-block;
	width: 48.5%;
	background: FloralWhite;
	overflow-y: scroll;
}

.infoGladStat1, .infoGladStat3, .infoGlasStat2 {
	padding: 5px;
}

.infoGladStat1, .infoGladStat3 {
	width: 95%;
}

#text, #number {
	display: inline-block;
	width: 45%;
	padding-bottom: 10px;
}

#number {
	text-align: center;
}

#text {
	padding-left: 10px;
}
h5 {
	margin: 12px 8px 12px 8px;
}

#weaponSkills {
	cursor: pointer;
}

.enemyTeamName, .enemyTeamScore {
	display: inline-block;
}

.enemyTeamContainer {
	background: Transparent;
	width: 100%;
	font-size: 90%;
}

.enemyTeamName {
	margin: 0;
	padding: 0;
	width: 70%;
	border-width: 0;
}

.enemyTeamScore {
	margin: 0;
	padding: 0;
	width: 23%;
	border-width: 0;
}

#challengeDialog p {
	font-weight: normal;
}

#challengeDialog span {
	font-weight: bold;
}

table {
	background: black;
}
tr {
	padding: 0;
	margin: 0;
	width: 90%;
	border: 1px solid black;
}

td {
	padding: 5px;
	width: 19%;
	border: 1px solid black;
	background: FloralWhite;
}

.buyspell, .melee, .ranged {
	cursor: pointer;
}

.buyspell:hover, .melee:hover, .ranged:hover {
	color: khaki;
}